
:root {
    --couleurSecondaire : #49111C;
    --couleurPrincipale : #FFEDDF;
    --police : helvetica, Arial, sans-serif;
}
/****  GENERAL ****/
html, body {
	margin : 0;
	padding : 0;
    background-color: var(--couleurPrincipale);
}

a {
    text-decoration : none;
}

div, header, footer, nav, article,h1,h2,a {
	display : flex;
	flex : 1;
}

img, video {
	width : 100%;
}

p,h1,h2,h3,h4,h5,h6,ul,li,div {
    font-family: var(--police);
}
.titre {
    flex : 8;
    font-size: 3em;
    font-family: var(--police);
    font-weight : 600;
    color : white;
}

header {
    padding : 1em;
    /* background-color: var(--couleurSecondaire); */
    background-image: url(./IMAGES/photo_aliment.jpg);
    background-position: center;
    background-size: cover;
}

.center {
    justify-content: center;
    align-items: center;
}

.colonne {
    flex-direction: column;
}

nav {
    padding: 1em;
}

.boutons{
    background-color: var(--couleurSecondaire);
    padding: 0.5em;
    margin: 0 0.5em;
    color : white;
    font-size: 1.5em;
    border-radius: 0.2em;
    transition: 0.5s;
}

.main {
    background-color: white;
    box-shadow: 10px 10px 15px rgb(128, 128, 128);
    padding : 1em
}

.main {
    margin: 1em 0;
    flex : 5
}

.presentationTitre {
    font-size : 3em;
    font-weight: bold;
}

p {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

nav a:hover hr {
    opacity: 1;
    transition : 0.5s;
    width: 90%;
}
.boutons hr {
    margin-block-start: 0.15em;
    margin-block-end: 0;
    transition: 0.5s;
    width: 0%;
    opacity : 0;

}